@import "./asset-manager.css";
@import "./code-preview.css";
@import "./demo-popover.css";
@import "./dialog.css";
@import "./panels.css";
@import "./welcome-modal.css";

:root {
  /* overwrites */
  --gjs-canvas-top: 64px;
  --gjs-left-width: max(280px, 15%);
  --gjs-main-color: var(--inetum-blue);
  --gjs-main-font: Inter, system-ui, sans-serif;
  --gjs-primary-color: var(--inetum-blue);

  /* custom variables */
  --gjs-border-radius: 4px;
  --gjs-border: 1px solid rgba(0, 0, 0, 0.25);
  --gjs-button-padding: 6px 12px;
  --gjs-gap: 8px;
  --gjs-font-weight-bold: 600;
}

#gjs {
  max-height: 100vh;

  .gjs-one-bg {
    background: var(--gjs-main-color);
  }

  .gjs-two-color {
    color: white;
  }

  .gjs-four-color {
    color: var(--inetum-green);
  }

  .gjs-four-color-h:hover {
    color: var(--inetum-orange);
  }

  .gjs-category-title,
  .gjs-layer-title,
  .gjs-block-category .gjs-title,
  .gjs-sm-sector-title,
  .gjs-trait-category .gjs-title,
  .gjs-sm-header,
  .gjs-traits-label,
  .gjs-trt-header {
    background-color: transparent;
    border-bottom: none;
    font-weight: normal;
    letter-spacing: 0;
  }

  .gjs-block svg,
  .gjs-pn-btn svg {
    fill: transparent;
  }

  .gjs-toolbar {
    border-radius: var(--gjs-border-radius);
  }

  .gjs-category-open,
  .gjs-block-category.gjs-open,
  .gjs-sm-sector.gjs-sm-open,
  .gjs-trait-category.gjs-open {
    border-bottom: none;
  }
}
