@import url("https://rsms.me/inter/inter.css");

:root {
  --inetum-blue: #232d4b;
  --inetum-green: #00aa9b;
  --inetum-orange: #f14540;
  --background: #f6f8fa;
  --scroll-thumb: #dddddd;
  --scroll-thumb-hover: #dddddd;
  --font-size-large: 16px;
  --font-size: 14px;
  --font-size-small: 12px;
  --color: #222222;

  font-family: Inter, system-ui, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  font-size: var(--font-size);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #f9f9fa;
    --background: #1b1b1b;
    --scroll-thumb: #686868;
    --scroll-thumb-hover: #dddddd;
  }
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, system-ui, sans-serif;
  }
}

body {
  color: var(--color);
  background-color: var(--background);
  display: grid;
  grid-template: 1fr / 1fr;
  margin: 0;
  min-height: 100svh;
  width: auto;
}

svg.lucide {
  height: 28px;
  stroke-width: 1px;
  width: 28px;
}

::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb) !important;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover) !important;
}

*:focus-visible {
  outline-color: var(--inetum-green);
  outline-width: 2px;
  outline-offset: -3px;
}

[hidden] {
  visibility: hidden !important;
}

button, label, iframe {
  user-select: none;
}
