#gjs .gjs-pn-panels {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "device-manager state toggle-borders toggle-autosave undo-redo tab-switcher"
    ". . . . . views-container";
  grid-template-columns: 1fr repeat(4, min-content) var(--gjs-left-width);
  grid-template-rows: var(--gjs-canvas-top) auto;
  height: 100%;
  width: 100%;

  .gjs-pn-panel {
    border: none;
    bottom: unset;
    left: unset;
    margin: 0;
    padding: 0;
    right: unset;
    top: unset;

    .gjs-pn-buttons {
      display: flex;
      gap: var(--gjs-gap);
      height: 100%;
      padding: 0 8px;

      .gjs-pn-btn {
        color: currentColor;
        height: 38px;
        margin: 0;

        &:hover {
          color: var(--inetum-green);
        }

        &.gjs-pn-active {
          color: var(--inetum-green);
        }

        &:focus-visible {
          color: var(--inetum-orange);
          outline: none;
        }

        &.gjs-pn-active {
          background-color: transparent;
          box-shadow: none;
        }

        &.button-group-left {
          border: 1px solid white;
          border-radius: 6px 0 0 6px;

          &:hover {
            background-color: var(--inetum-green);
            color: white;
          }
        }

        &.button-group-right {
          border-left: none !important;
          border-radius: 0 6px 6px 0;
          border: 1px solid white;
          font-family: inherit;
          font-size: inherit;
          margin-left: -8px;
          min-width: 120px;
          padding: 0 10px;
          white-space: nowrap;

          &:hover {
            background-color: var(--inetum-green);
            color: white;
          }
        }
      }
    }

    &.gjs-pn-device-manager {
      grid-area: device-manager;
    }

    &.gjs-pn-state-panel {
      grid-area: state;
    }

    &.gjs-pn-toggle-borders-panel {
      grid-area: toggle-borders;
    }

    &.gjs-pn-toggle-autosave-panel {
      grid-area: toggle-autosave;
    }

    &.gjs-pn-undo-redo-panel {
      grid-area: undo-redo;
    }

    &.gjs-pn-tab-switcher {
      grid-area: tab-switcher;
    }

    &.gjs-pn-device-manager,
    &.gjs-pn-state-panel,
    &.gjs-pn-toggle-borders-panel,
    &.gjs-pn-toggle-autosave-panel,
    &.gjs-pn-undo-redo-panel,
    &.gjs-pn-toggle-borders-panel {
      position: relative;
      display: flex;
      height: 100%;
      width: 100%;

      .gjs-pn-buttons {
        justify-content: flex-end;
        width: min-content;
      }
    }

    &.gjs-pn-tab-switcher {
      height: 100%;
      position: relative;
      width: 100%;

      .gjs-pn-buttons {
        justify-content: space-around;
      }
    }

    &.gjs-pn-views-container {
      box-shadow: none;
      grid-area: views-container;
      height: 100%;
      position: relative;
      scrollbar-gutter: stable both-edges;
      width: 100%;

      input,
      select,
      option {
        font-family: inherit;
        font-size: inherit;
      }

      .gjs-field {
        border: var(--gjs-border);
        border-radius: var(--gjs-border-radius);
      }

      .gjs-sm-label.gjs-four-color {
        font-weight: var(--gjs-font-weight-bold);
      }

      .gjs-field-colorp {
        border-radius: 0 var(--gjs-border-radius) var(--gjs-border-radius) 0;
        overflow: hidden;
        padding: 0;
        width: 25px;
      }

      label.fa::before {
        font-weight: 200;
      }

      .gjs-radio-items {
        border-radius: var(--gjs-border-radius);
        display: flex;
        gap: 0;

        .gjs-radio-item {
          border: none;

          .gjs-radio-item-label {
            align-items: center;
            border-radius: 3px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            min-height: 25px;
          }

          input:checked + .gjs-radio-item-label {
            background-color: var(--inetum-green);
            font-weight: var(--gjs-font-weight-bold);
          }
        }
      }

      .gjs-layer-item {
        border: none;
        padding: 8px 16px;
      }

      .gjs-blocks-c {
        display: grid;
        gap: 32px 8px;
        grid-template-columns: repeat(3, 1fr);
        padding: 8px;

        .gjs-block {
          align-items: center;
          border: 0;
          box-shadow: none;
          display: flex;
          justify-content: flex-start;
          margin: 0;
          min-height: 0;
          padding: 0;
          width: 100%;

          &:hover {
            box-shadow: none;
          }

          .gjs-block__media {
            width: 32px;
          }

          .gjs-block-label {
            font-family: inherit;
            font-size: inherit;
            font-weight: normal;
          }
        }
      }

      .gjs-sm-sectors {
        .gjs-sm-sector {
          font-weight: inherit;

          &.gjs-sm-open {
            border-bottom: none;
            margin-bottom: 16px;
          }

          .gjs-sm-sector-caret {
            padding: 8px;
          }

          .gjs-sm-sector-label {
            margin-left: 0;
          }

          .gjs-sm-sector-title {
            font-weight: var(--gjs-font-weight-bold);
            padding: 0;
          }

          & > .gjs-sm-properties {
            padding: 8px 34px;
          }

          .gjs-sm-label {
            margin: 0 0 5px 0;
          }

          .gjs-sm-composite .gjs-sm-properties {
            display: grid;
            gap: var(--gjs-gap);
            grid-template-columns: auto auto;
          }

          .gjs-sm-properties {
            padding: 8px;
            row-gap: var(--gjs-gap);

            .gjs-sm-property {
              padding: 0;
              width: 100%;

              .gjs-sm-btn {
                align-items: center;
                background-color: transparent;
                border-radius: var(--gjs-border-radius);
                border: 1px solid var(--inetum-green);
                box-shadow: none;
                color: white;
                cursor: pointer;
                display: flex;
                font-family: inherit;
                font-size: inherit;
                font-weight: 500;
                gap: 4px;
                height: 27px;
                justify-content: center;
                outline: none;
                padding: 0 6px 0 2px;

                svg {
                  height: 22px;
                }

                &:hover,
                &:focus-visible {
                  background-color: var(--inetum-green);
                }
              }
            }
          }
        }
      }

      .gjs-traits-label {
        border-radius: var(--gjs-border-radius);
        font-weight: var(--gjs-font-weight-bold);
        margin: 0 8px 8px;
        padding: 4px 8px;
        width: fit-content;
      }

      .gjs-trt-trait {
        font-weight: normal;
        padding: 0;
      }

      .gjs-traits-empty-c.gjs-traits-c {
        gap: var(--gjs-gap);
        padding: 0 16px;
      }

      .gjs-sm-preview-file {
        display: none;
      }

      .gjs-block-category {
        .gjs-title {
          align-items: center;
          display: flex;
          font-weight: var(--gjs-font-weight-bold);
          padding: 0;

          .gjs-caret-icon {
            padding: 8px;
          }
        }
      }
    }
  }
}
