  #grapes .gjs-mdl-dialog:has(.button-list) {
    max-width: fit-content;
  }

#grapes .button-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--gjs-gap);

  .button {
    align-items: center;
    background-color: transparent;
    border-radius: var(--gjs-border-radius);
    border: var(--gjs-border);
    box-shadow: var(--gjs-shadow-small);
    color: inherit;
    cursor: pointer;
    display: flex;
    font-family: inherit;
    gap: 4px;
    height: 32px;
    justify-content: center;
    min-width: 300px;
    outline: none;
    padding: 0 6px 0 2px;

    svg {
      height: 22px;
    }

    &:hover,
    &:focus-visible {
      color: var(--inetum-green);
    }

    &.invalid {
      color: var(--inetum-orange);

      &:hover,
      &:focus-visible {
        color: white;
        background-color: var(--inetum-orange);
      }
    }
  }
}
